@import '../../styles/mixins';
@import '../../styles/var';

.user-info {
    &__main {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__inner {
        &__title {
            margin-bottom: 20px;
            @include d-flex();
            gap: 20px;

            & .toggle {
                & label {
                    font-size: 12px;
                }
            }
        }
    }
}