@import '../../styles/mixins';
@import '../../styles/var';

header {
    background-color: rgba(255, 255, 255, 0.105);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
    @include d-flex();
    justify-content: space-between;
    align-items: center;

    &__img {
        width: 100px;

        & img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__nav {
        & ul {
            @include d-flex();
            gap: 20px;
            color: rgb(240, 240, 240);

            & li {
                padding: 7px 15px;
                cursor: pointer;
                transition: .3s ease;
                position: relative;

                &::after {
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: $main-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: none;
                    transition: .3s ease;
                }

                &:hover {
                    color: $main-color;

                    // &::after {
                    //     display: block;
                    //     width: 100%;
                    //     right: 0;
                    //     // left: ;
                    // }
                }
            }
        }

        &__li-have-menu {
            position: relative;

            & a {
                @include flex-center();
                gap: 5px;
            }

            &:hover .header__nav__dropdown {
                display: block;         
            }

            & ul {
                gap: unset;
            }
        }

        &__dropdown {
            position: absolute;
            display: none;
            left: 0;
            top: 100%;
            width: 200%;
            // background-color: rgba(255, 255, 255, 0.222) !important;
            
            & ul {
                @include d-flex();
                flex-direction: column;

                & li {
                    color: rgb(0, 0, 0);

                    &:hover .header__nav__dropdown__sec {
                        display: block;
                    }
                }
            }

            &__sec {
                position: absolute;
                display: none;
                left: 100%;
                top: 0;

                & ul li {
                    width: 300%;
                }
                // margin-left: 20px;
            }
        }
    }

    &__untils {
        &__login-regis {
            @include d-flex();
            gap: 30px;
        }

        // &__user {
        //     margin-bottom: 10px;
        // }
    }
}

.content-wrapper {
    position: relative;
}